#root {
  margin: 0 auto;

  /*
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  */
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.grid-body {
  display: grid;
  gap: 10px;
}

.grid-body, span {
  padding-right: 1rem;
}

.grid-row {
  /*
  display: grid;
  grid-template-columns: repeat(4, 1 fr);
	gap: 10px;
  */
}

.grey-p {
  color: #888;
}
